extends layout

block content
  .body-container
    h2 Collections 
      if (count) 
        | (#{count})
      a.right.no-padding(href='/collections/add') New Collection  
        img.icon(src="/img/plus.png" alt="Plus")
    .container
      .search-area.right.no-padding
        select.list-select-bar#collection-field-select(name="stype" style="width:fit-content;")
          each val in ['pid', 'name', 'description', 'materials', 'condition', 'dating', 'archaeoSite', 'location']
            option(value=val) #{val}
        input.search-input#collection-search-kw(type="text" name="search" placehold="please enter keyword")
        button.search-btn#search-collection Search
          img.icon(src="/img/search.png" alt="Search")
    br
    .profile-list
      each c in collections
        .profile-container
          .profile-avatar
            a(href=`/collections/details/${c._id}`)
              img(src=c.imgUrl alt=c.name width='230px')
          .profile-description
            ul
              li.profile-name=c.name
              li.profile-pid=c.pid
              li=c.location
              li=c.condiction