extends layout

block content
  .body-container
    h2 Contacts 
      if (aCount) 
        | (Active: #{aCount}) 
      if (iCount) 
        | (Inactive: #{iCount})
      a.right.no-padding(href='/contacts/add') New Contact 
        img.icon(src="/img/plus.png" alt="Plus")
    .container
      .search-area.right.no-padding
        select.list-select-bar#contact-field-select(name="stype" style="width:fit-content;")
          each val in ['firstname', 'lastname', 'phone', 'email']
            option(value=val) #{val}
        input.search-input#contact-search-kw(type="text" name="search" placehold="please enter keyword")
        button.search-btn#search-contact Search
          img.icon(src="/img/search.png" alt="Search")
    br
    table
      tr.titles
        th Name
        th Type
        th Phone
        th Email
        th Address
        th Status
        th CreatedAt

      each c in contacts
        tr 
          td=`${c.firstname} ${c.lastname}  `
            if(c.status==='Active')
              a(href=`/contacts/update/${c._id}`)
                img.icon(src="/img/edit-blk.png" alt="Edit")     
          td=c.type
          td=`${c.countryCode}-${c.phone}`
          td=c.email
          td
            if(c.address.num)
              =`${c.address.num}-`
            =`${c.address.street}, ${c.address.city}, ${c.address.province}, ${c.address.country}, ${c.address.zip}`
          td=c.status
          td=moment(c.createdAt).format('ll')