extends layout

block content
  .body-container
    h2 Employees (
      span#count=count
      |)
      a.right.no-padding(href='/employees/signup') Employee Signup 
        img.icon(src="/img/plus.png" alt="Plus")
    .container
      .search-area
        select.list-select-bar#employee-field-select(name="stype" style="width:fit-content;")
          each val in ['username', 'firstname', 'lastname', 'phone', 'email', 'role']
            option(value=val) #{val}
        input.search-input#employee-search-kw(type="text" name="search" placeholder="please enter keyword")
        button.search-btn#search-employee Search
          img.icon(src="/img/search.png" alt="Search")
      table
        tr.titles
          th Username
          th Name
          th Phone
          th Email
          th Address
          th Role
          th LastLoggin
          th CreatedAt

        each e in employees
          tr 
            td=`${e.username}  `
              a(href=`/employees/update/${e._id}`)
                img.icon(src="/img/edit-blk.png" alt="Edit")     
            td=`${e.firstname} ${e.lastname}`
            td=e.phone
            td=e.email
            td
              if(e.address.num)
                =`${e.address.num}-`
              =`${e.address.street}, ${e.address.city}, ${e.address.province}, ${e.address.country}, ${e.address.zip}`
            td=e.role
            td=moment(e.lastLogin).format('lll')
            td=moment(e.createdAt).format('ll')
block script
  script(src='js/search/employees.js')
  script.
    $(function(){
        employees.search();
    });